ul,
ol {
    list-style: none;
}

* {
    margin: 0;
    padding: 0；
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

#xxx {
    background: #fff;
    display: block;
}

body {
    margin: 0px;
}

html {}

.actions {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}

.actions svg {
    width: 1.5em;
    height: 1.5em;
    margin: 0 10px;
}

/* .actions>#brush {
    display: none;
} */

.actions>#eraser {
    border-radius: 5px;
}

/* .actions.x>#brush {
    display: inline-block;
}

.actions.x>#eraser {
    display: none
} */

.active {
    fill: red;
    transform: scale(1.2);
    transform: all 0.3s;
}

.colors {
    position: fixed;
    top: 60px;
    left: 28px;
    padding: 0;
}

.colors>li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0,0,0,0.25);
    margin: 10px 0;
}
.colors>li.red{
    background: red;
}

.colors>li.green{
    background: green;
}

.colors>li.blue{
    background: blue;
}

.colors> li.active{
    box-shadow: 0 0 3px rgba(0,0,0,0.95);
    transform:scale(1.2);
    transfrom: all 0.3s;
}